@charset "UTF-8";


body {
    background-color:#e2e0e0;
    font-family:arial;
    width: 100%;
    max-width: 1400px;
    min-height: 200px;
    margin: 0 auto;
}

div#interface {
    background-color: rgba(40, 44, 44, 0.2);
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 12%;
}

p {
    text-align: justify;
    text-indent: 50px;
}

header#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; /*faz o menu ficar por cima de todos os outros elementos*/
}

nav#menu {
    display:block;
}
nav#menu ul {
    list-style: none;
    position:absolute;
    top: 25px;
    left:300px;
}
nav#menu li {
    display: inline-block;
    background-color:transparent;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
}
nav#menu li:hover {
    background-color: none;
}
nav#menu h1 {
    display:none;
}
nav#menu a {
    color:white;
    text-decoration: none;
}
nav#menu a:hover {
    color:greenyellow;
}

section#corpo {
    width: 30%;
    display: block;
    text-align: center;
    float: left;
    padding: 22px;
}

section#corpo h2 {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align:center;
    margin-bottom: 1px;
    margin-top: 5px;
}

figure.selic {
    display: block;
    margin-top: 40px;
    
    box-shadow: 1px 1px 3px rgba(0,0,0,.8);
    z-index:95;
    -webkit-transition: all .4s ease-in;
}

figure.selic:hover {
    -webkit-transform: scale(1.5);
}

figure.indices {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 2px;
    margin-left: 0px;
}

figure.indicadores1 {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
}

section#lateral1 {
    width: 30%;
    display: block;
    text-align: center;
    float: left;
    padding: 22px;
    margin-left: 4px;
}

section#lateral1 h2 {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align:center;
    margin-bottom: 1px;
    margin-top: 5px;
}

figure.desemprego {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
}

figure.ipca_15 {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
}

figure.contas {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
}

figure.imobiliario1 {
    display: block;
    width: 100%;
    height: 150%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
    -webkit-transition: all .4s ease-in;
}

figure.imobiliario1:hover {
    -webkit-transform: scale(1.5);
}

aside#lateral2 {
    width: 30%;
    display: block;
    text-align: center;
    float: right;
    margin: 0 auto;
    padding: 22px;
}

aside#lateral2 h2 {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align:center;
    margin-bottom: 1px;
    margin-top: 5px;
}

figure.atraso {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
}

figure.imobiliario2 {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    margin-top: 40px;
    margin-left: 0px;
    -webkit-transition: all .4s ease-in;
}

figure.imobiliario2:hover {
    -webkit-transform: scale(1.5);
}

section#corponoticias {
    width: 50%;
    display: block;
    text-align: center;
    float: left;
}

aside#lateralnoticias {
    width: 50%;
    display: block;
    text-align: center;
    float: right;    
}

section#indicadores {
    width: 50%;
    display: block;
    text-align: center;
    float: left;
}

section#indicadores figure {
    margin-bottom: 40px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.7);
    -webkit-transition: all .4s ease-in;
}

section#indicadores figure:hover {
    -webkit-transform: scale(1.5);
}

aside#indicadoreslateral {
    width: 50%;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
}

aside#indicadoreslateral figure {
    margin-bottom: 40px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.7);
    -webkit-transition: all .4s ease-in;
}

aside#indicadoreslateral figure:hover {
    -webkit-transform: scale(1.5);
}

section#videos {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .8);
}

section#videos iframe {
    padding: 20px 0px 20px 90px;
    margin: 0 auto;
    margin-top: 5%;
}

footer#rodape {
    clear: both;
    position:auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    }

footer#rodape p {
    text-align: center;
}

