@charset "UTF-8";

body {
    background-color:#e2e0e0;
    font-family:arial;
    width: 100%;
    max-width: 1080px;
    min-height: 200px;
    margin:auto;
    
}

hgroup#faleConosco {
    margin-top: 150px;
    margin-left: 250px;
    background: url("../_imagens/contato.png") no-repeat 55%;
    padding: 20px 50px 20px 5px;
}

hgroup#faleConosco h3 {
    margin-left: 150px;
}

form {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover {
    background-color:#dddddd;
}

legend {
    color: black;
}

fieldset {
    border-color: #cecece;
    margin: 8px;
}

fieldset#usuario {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

.enviar {
    margin-left: 230px;
    font-family: Arial, Helvetica, sans-serif;
}

footer#rodape {
    clear: both;
    position:auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    }

footer#rodape p {
    text-align: center;
}